SDL3_Base/binaries/x64Debug/SDL3_Base.exe
SDL3_Base/binaries/x64Debug/SDL3_Base.pdb
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.ilk
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.log
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/CL.command.1.tlog
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/CL.read.1.tlog
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/CL.write.1.tlog
SDL3_Base/tmp/SDL3_Basex64Debug/AABB.obj
SDL3_Base/tmp/SDL3_Basex64Debug/Game.obj
SDL3_Base/tmp/SDL3_Basex64Debug/ImageRenderer.obj
SDL3_Base/tmp/SDL3_Basex64Debug/InputManager.obj
SDL3_Base/tmp/SDL3_Basex64Debug/RenderManager.obj
SDL3_Base/tmp/SDL3_Basex64Debug/Rigidbody.obj
SDL3_Base/tmp/SDL3_Basex64Debug/Scene.obj
SDL3_Base/tmp/SDL3_Basex64Debug/SceneManager.obj
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.exe.recipe
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.log
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/CL.command.1.tlog
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/CL.read.1.tlog
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/CL.write.1.tlog
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/SDL3_Base.lastbuildstate
SDL3_Base/tmp/SDL3_Basex64Debug/TextObject.obj
SDL3_Base/tmp/SDL3_Basex64Debug/TextRenderer.obj
SDL3_Base/tmp/SDL3_Basex64Debug/Scene.obj
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.log
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/CL.command.1.tlog
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/CL.read.1.tlog
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/CL.write.1.tlog
