SDL3_Base/binaries/x64Debug/SDL3_Base.exe
SDL3_Base/binaries/x64Debug/SDL3_Base.pdb
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.ilk
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.log
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/CL.command.1.tlog
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/CL.read.1.tlog
SDL3_Base/tmp/SDL3_Basex64Debug/SDL3_Base.tlog/CL.write.1.tlog
